.formInput {
  border: 2px solid blue;
  padding: 10px;
  border-radius: 3px;
}

.formButton {
  padding: 10px;
  background: transparent;
  border-radius: 3px;
  border: 2px solid blue;
  cursor: pointer;
  transition: .1s;
}

.formButton:hover {
  background: blue;
  color: white;
  border: 2px solid black;
}